.color1{
    color: #F1F3FC;
}
.color2{
    color: #E5EAFA;
}
.color3{
    color: #CFD6F6;
}
.color4{
    color: #B2BCEF;
}
.color5{
    color: #9399E6;
}
.color6{
    color: #7979DB;
}
.color7{
    color: #675ECD;
}
.color8{
    color: #584EB4;
}
.color9{
    color: #4B4497;
}
.color10{
    color: #3E3B74;
}
.color11{
    color: #252244;
}
